
@{
    ViewData["Title"] = "Quality Souvenir";
}
<div class="container">
    <div class="row">
        <div class="col-sm-9 padding-right">
            <h2>Your order successfully placed.</h2>
        </div>
    </div>
</div>

