@model QualitySouvenirs.Models.Category

@{
    ViewData["Title"] = "Details";
}
<div class="container">
    <div class="row">
        <div class="col-sm-9 padding-right">
            <h2>Details</h2>

            <div>
                <h4>Category</h4>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.CatName)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.CatName)
                    </dd>
                </dl>
            </div>
            <div>
                <a asp-action="Edit" asp-route-id="@Model.CategoryID">Edit</a> |
                <a asp-action="Index">Back to List</a>
            </div>
        </div>
    </div>
</div>
