@{
    ViewData["Title"] = "Contact";
    ViewData["content"] = "Frequently asked questions";

}

<div class="container">

    <h3> Got a question? Looking for someone? Find out who to contact with your query?</h3>

    Feel Free to call<br />
    KevalKumar Moradiya - kevalmoradiya@gmail.com<br />
    Reena Kumari Lohana - reena.lohana@gmail.com<br />
    Sai Rahul Chowdavaram - sairahulaaa@gmail.com<br />

</div>
