@{
    ViewData["Title"] = "Privacy Policy";


}


<div class="container">

        <h1> Got a question? Looking for someone? Find out who to contact with your query?</h1>
        
            Feel Free to call
            KevalKumar Moradiya - kevalmoradiya@gmail.com
            Reena Kumari Lohana - reena.lohana@gmail.com
            Sai Rahul Chowdavaram - sairahulaaa@gmail.com
       
   

</div>
