@model QualitySouvenirs.Models.Supplier

@{
    ViewData["Title"] = "Edit";
}
<div class="container">
    <div class="row">
        <div class="col-sm-9 padding-right">
            <h2>Edit</h2>

            <h4>Supplier</h4>
            <hr />
            <div class="row">
                <div class="col-md-4">
                    <form asp-action="Edit">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="SupplierID" />
                        <div class="form-group">
                            <label asp-for="SupName" class="control-label"></label>
                            <input asp-for="SupName" class="form-control" />
                            <span asp-validation-for="SupName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="SupPno" class="control-label"></label>
                            <input asp-for="SupPno" class="form-control" />
                            <span asp-validation-for="SupPno" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="SupEmail" class="control-label"></label>
                            <input asp-for="SupEmail" class="form-control" />
                            <span asp-validation-for="SupEmail" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Save" class="btn btn-default" />
                        </div>
                    </form>
                </div>
            </div>

            <div>
                <a asp-action="Index">Back to List</a>
            </div>
        </div>
    </div>
</div>
